<style>

.role-circle {
   fill: #EEF;
   stroke: steelblue;
   opacity: 0.9;
   font:- 12px sans-serif;
}

</style>

<P/>
A model demonstrating updating plausibilities of a quality service given test results
<br/>
<a href="#" onclick="coordinator.call('highlight',this,'.test')">A set of tests is represented as leaves of the relationship tree</a>
<br/>
<a href="#" onclick="coordinator.call('highlight',this,'.link')">A set of relationships</a>
<br/>
<a href="#" onclick="coordinator.call('highlight',this,'.plausibility')">A resulting plasubility of quality</a>

<p/>
Selecting a test result will update the plausibility.
The update involves combining the 
<a href="#" onclick="coordinator.call('highlight',this,'.prior')">prior plausibility</a> with the
<a href="#" onclick="coordinator.call('highlight',this,'.likelihood')">likelihood</a> which is then 
<a href="#" onclick="coordinator.call('highlight',this,'.posterior')">normalized</a> to render the new 
<a href="#" onclick="coordinator.call('highlight',this,'.normalized')"> plausiblity</a>
<p/>

<button id="toggle">View Probability</button>
<button id="reset">Reset</button>
<div id="model"></div>
