<style>
.role-circle {
   fill: #EEF;
   stroke: steelblue;
   opacity: 0.5;
   font:- 12px sans-serif;
}

.branch-circle {
   fill: #FEE;
   stroke: steelblue;
   opacity: 0.5;
   font: 12px sans-serif;
}

.branch-verified {
   fill: #FAA;
   stroke: steelblue;
   opacity: 0.5;
   font: 12px sans-serif;
}


.task-circle {
   fill: #EFE;
   stroke: steelblue;
   opacity: 0.5;
   font: 12px sans-serif;
}

.task-complete {
   fill: #AFA;
   stroke: steelblue;
   opacity: 0.5;
   font: 12px sans-serif;
}

.branches {
   fill: #CCC;
   opacity: 0.5;
}

.roles {
   fill: #AAA;
   opacity: 0.5;
}
</style>
<P/>
A model demonstrating updating plausibilities of a quality service given test results
<br/>

<div id="model">
</div>
