<style>

.role-circle {
   fill: #EEF;
   stroke: steelblue;
   opacity: 0.9;
   font:- 12px sans-serif;
}

</style>

<P/>
A model demonstrating updating plausibilities of a quality service given test results
<br/>

<button id="toggle">View Probability</button>
<button id="reset">Reset</button>
<div id="model"></div>
